ul.list-group li.list-group-item {
  border: none;
  border-top: 1px dashed #e0e0e0;
  padding-left: 0;
  border-radius: 140px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
 /* added animation property to show the character one at a time*/
  animation: type 8s steps(60, end);
}

.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
}
li.list-group-item a{
  color:#01b552;
  margin-left: 1%;
} 
h3{
  margin:1%;
}
span{
  color:#01b552;
}
.accordion {
  padding: 10px;
}


@keyframes type{ 
 from { 
      width: 0; 
      } 
  }