footer{
  background: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 30px;
  padding-bottom: 32px;
  color: black;
  text-align: center;
  @media (max-width: 800px) {
    margin-bottom: 50px;
  }
}
footer p{
  text-align: center;
}
a{
  color: #05bb5a;
}
a:hover{
  color: #212529;
}